*{
    margin: 0;
    padding: 0;
    
}

.Header_root {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    background-color: whitesmoke;
    align-items: center;
    height: 8.5vh;
    
}

.Header_root .Logo {
    color: rgba(128, 29, 185, 0.849);
    font-variant: small-caps;
    font-family:'Segoe UI';
    background-color: whitesmoke;
}


.Header_root .Search {
    background-color: rgba(128, 128, 128, 0.041);
    border: 0.1px solid gray;
    margin-left: 50px;
    border-radius: 5px;
    width: 50%;
    height: 6vh;
    display: flex;
}

.Search p {
    width: 6%;
    height: 100%;
    font-size: 22px;
    align-self: center;  
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
}

.Search input {
    background-color: rgba(128, 128, 128, 0.103);
    border: none;
    width: 89%;
    
}

.register:hover { 
    background-color: rgba(194, 129, 231, 0.445);    
}


.icons {
    background-color: rgba(128, 128, 128, 0.11);
    width: 58px;
    height: 5.8vh;
    padding: 10px 0 0 10px;
    border-radius: 5px;
}
